{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog -- Front End -- Vanilla JavaScript</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Rest API Blog with Vanilla JavaScript as Front End !!</h1>

    <div class="form">
        <form method="POST" id="postForm">
            <input type="text" id="title" placeholder="Title" ><br>
            <input type="text" id="content" placeholder="content"><br>
            <input type="text" id="author" placeholder="user"><br>
            <button type="submit">Create</button>
        </form>
    </div>

    <div id="root">

    </div>
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>